@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>School Management</h1>
    <p class="lead">This school managment application is a demonstration of ASP.NET MVC Pages and Entity Framework</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ASP.NET</h2>
        <p>
            ASP.NET is the backbone of this web app.
        </p>
    </div>
    <div class="col-md-4">
        <h2>MVC</h2>
        <p>The MVC template makes it easy to manage multiple entities and database tables in one application.</p>
    </div>
    <div class="col-md-4">
        <h2>Entity Framework</h2>
        <p>Entity Framework is the technology being used for database manipulation.</p>
    </div>
</div>